{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>
        <center>Data pengurus OSISMPK</center> <br>
        <a href="{% url 'tambah_data' %}" class="btn btn-primary mb-3">Tambah</a>
        <a href="{% url 'export_xls' %}" class="btn btn-success mb-3">Export .xls</a>
      </h3>

      {% for message in messages %}
        {% if message %}
          <div class="alert alert-success">{{ message }}</div>
        {% endif %}
      {% endfor %}

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Foto</th>
            <th>NIS</th>
            <th>Nama</th>
            <th>Kelas</th>
            <th>Keterangan</th>
            <th>Jabatan</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for data in dataa %}
          <tr>
            <td>
              {% if data.cover %}
                <img src="{{ data.cover.url }}" width="90px">
              {% endif %}
            </td>
            <td>{{ data.nis }}</td>
            <td><a href="{% url 'ubah_data' data.id %}">{{ data.nama }}</a></td>
            <td>{{ data.kelas_id }}</td>
            <td>{{ data.keterangan_id }}</td>
            <td>{{ data.jabatan }}</td>
            <td>
              <button data-toggle="modal" data-target="#hapus-{{ data.id }}" class="btn btn-danger">Hapus</button>
            </td>

            <div class="modal" id="hapus-{{ data.id }}">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="modal-title">
                      <h3>Hapus</h3>
                    </div>
                  </div>
                  <div class="modal-body">
                    Apakah anda yakin ingin menghapus <strong>{{ data.nama | upper }}</strong>
                  </div>
                  <div class="modal-footer">
                    <a href="{% url 'hapus_data' data.id %}" class="btn btn-danger">Hapus</a>
                    <button class="btn btn-dark" data-dismiss="modal">Tidak</button>
                  </div>
                </div>
              </div>
            </div>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
     
{% endblock %}
